body {
    font-family: Arial, sans-serif;
    background: #eff3f8; !important;
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
.content {
    width: 50%;
    height: 50%;
}
.p-100{
    padding: 100px;
}
.zoomUser{
    zoom: 5;
}
#registerForm{
    width: 100% !important;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error-message {
    color: red;
}
.site-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input{
    border-radius: 50px !important;
}
.message {
    font-weight: bold;
    font-size: 14px;
}

.success {
    color: green;
}

.error {
    color: red;
}